
body{
  
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: black;
}
video{
  display: flex;
  
  
  top: 250px;
  max-width: 100%;
  
  
}

button{
  
  position: absolute;
  width: 200px;;
 
}