
body{
    display:flex;
    flex-direction: column;
    margin:auto;
    text-align: center;
    padding: 50px;
    align-items: center;
    width: 1000px;
    border: 0px;
    background:rgb(255, 255, 255) ;
    animation-name: animacion_video;
    animation-duration: 10s;
    animation-iteration-count:initial;
    animation-direction: alternate;
    
}




   


#carta1,#carta2,#carta3,#carta4{
    width: 110px;
    height: 180px;
    border: 5px solid white;
    margin: 2px;
}

.cartas{
    margin-bottom: 15px;
    display:flex;
    text-align: center;
    align-items: center;

}

/*/Animaciones*/

#carta4_2,#carta4_3,#carta4_1{
    height: 50px;  
    animation-name: animacion_carta_2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
        
}

#carta4_1{
    animation-name: animacion_carta_2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;    
}

#carta4_2{
    animation-name: animacion_carta_2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;    
}


.copy{
    
    height: 10px;
    text-align: center;
 
}

.btn:active{

background: radial-gradient(black,gray);
color: white;
border-radius: 20%;
border: none;;

}
button{
    
    width: 80px;
    height: 40%;
    margin: 10px;
}
label{
    color: white;
    margin: 5px;
    border: 1px;
}
.datos{
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#fecha{
    margin-top: 50px;
    width: 100px;
  
    
}

#labesl_cartas{
    display: flex;
    border: 1px solid white;
    justify-content: space-around;
    
}
@keyframes animacion_carta{
    from{opacity: 0;}
    to{opacity: 0.5;}
    
    
}
/*Fucnion de animacion*/

@keyframes animacion_carta_2{
  from{opacity: 0.2;}
   to{opacity: 0.7;}
    
}
@keyframes animacion_video{
    from{opacity: 0;}
    to{opacity: 1;}
    
}


@keyframes font-anmtion{
    from{color: black;;}
    to{accent-color:white;}
}
#carta1,#carta2,#carta3,#labesl_cartas{
    animation-name: animacion_carta;
    animation-duration: 2s;
 
    
    
 
   
}
.barajas{
    border: 1px solid rgb(0, 0, 0);
}

#baraja_1,#baraja_2{
    width: 10px;
}

.formulario{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 10px;
    justify-content: center;
    border-top: 1px solid rgb(255, 255, 255);
    text-align: center;
    
}
form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}


#info{
    width: 120px;
    height: 10px;
    margin: 5px;
    color: rgb(0, 0, 0);
    margin-top: 100px;

}
#email{
    text-align: center;
    margin: 5px;
    width: 100px;
    height: 15px;
    background-color: rgb(250, 250, 250);
    color: rgb(0, 0, 0)

}
#info{
    align-items: center;
    text-align: center;
    width: 150px;
    background-color: black;
    color: rgb(0, 0, 0)
}
#enviar{
    align-items: center;
    text-align: center;
    height: 20px;
    background-color: black;
    color: white;
    position: relative;

}
#info_label{
    
    border: solid rgb(0, 0, 0) 1px;
   
}
.container.{
    width: 70px;
    display:list-item;
    align-items: center;
    justify-content: space-between;
    
   
}
audio{
    display:flex;
   border: 1px solid white;
   background: rgba(255, 255, 255, 0);
   height: 9px;
   flex-direction: column;
   align-items: center;
   margin: auto;
    

}

 

.container{
    max-width: 1400px;
    margin:auto;
  
    
}


header{
    padding: 25px 30px; 

}

header .img{
margin:auto;
display: flex;


}
header.container{

    display: flex;
    flex-direction:column;
    align-items: center;
    direction: unset ;
    

    

}

p{
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
}
.nombre_cartas{
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 10px;
}

A{
  
    text-align: center;
     color: rgb(103, 103, 15);
     font: 400;
     font-family:Verdana, Geneva, Tahoma, sans-serif ;

}



p{ 
    display: flex;
    color: rgb(0, 0, 0);
    border:-0;
  font-size: small;

}

em{
    width: 500px;

}


p.container{
    display: flex 500px x 62px;

   font-size:medium;
   font-display:inherit;
padding-top: 50px;
width: 500px;



}
img.container{
    align-items: center;}
button {
    background-color: rgb(182, 49, 203);
    font-size: small;
  }