body{
    
    
    text-align: center;
    padding: auto;
    margin: auto;
    border: auto;
    
    background:rgb(255, 255, 255) ;
    animation-name: animacion_video;
    animation-duration: 10s;
    animation-iteration-count:initial;
    animation-direction: alternate;
    
}

video{
position: absolute;
   width: 1000px;
    height: 1000px;
   
    
    animation-name: animacion_video;
    animation-duration: infinite;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    

}


#titulo{
    color: rgba(0, 0, 0, 0);
    font-size: 30px;
    margin-top: auto;
    background: rgb(245, 245, 245);
    
}


p{
    
    color: rgb(245, 245, 245);
    margin-bottom:  25px;
    margin-top: auto;
    text-align: center;
    

}
h1{
    
    display: flex;
    /*! flex-flow: wrap; */
    color: white;
    /*! text-align: center; */

    /*! font-size: 25px; */
    /*! animation: alternate; */
    /*! margin-left:60px; */
    
    text-align: center;
}




h3{
    color: white;
    font-size: 15px;
    margin: 5px;
}
h2{
    width: 100%;
    margin-bottom:5px; 
    text-align: center;
    color: white;
    border:1px solid white;
    padding:10px;
}

#carta1,#carta2,#carta3,#carta4{
    width: 110px;
    height: 180px;
    border: 5px solid white;
    margin: 2px;
}

.marco{
    
    display: flex;
    
    border: 0;
    padding: 0;
    margin: 0;
    flex-flow: column-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    
    
}
.cartas{
    margin-bottom: 15px;
    display:inline;
    text-align: center;
    align-items: center;
    
        
}

/*/Animaciones*/

#carta4_2,#carta4_3,#carta4_1{
    height: 180px;
    position:absolute;
    
    margin-top: -300px;
    animation-name: animacion_carta_2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
    
    
        
}

#carta4_1{
    animation-name: animacion_carta_2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;    
}

#carta4_2{
    animation-name: animacion_carta_2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;    
}


.copy{

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content:center;
    width: 300px;
    height: 371px;
    
    text-align: center;
 
}

.btn:active{

background: radial-gradient(black,gray);
color: white;
border-radius: 20%;
border: none;;

}
button{
    
    width: 80px;
    height: 40%;
    margin: 10px;
}
label{
    color: white;
    margin: 5px;
    border: 1px;
}
.datos{
    margin: 5px;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
#fecha{
    margin-top: 10px;
    width: 100px;
  
    
}


#labesl_cartas{
    display: flex;
    border: 1px solid white;
    justify-content: space-around;
    
}
@keyframes animacion_carta{
    from{opacity: 0;}
    to{opacity: 1;}
    
    
}
/*Fucnion de animacion*/

@keyframes animacion_carta_2{
  from{opacity: 0.2;}
   to{opacity: 0.7;}
    
}
@keyframes animacion_video{
    from{opacity: 0;}
    to{opacity: 1;}
    
}


@keyframes font-anmtion{
    from{color: black;;}
    to{accent-color:white;}
}
#carta1,#carta2,#carta3,#labesl_cartas{
    animation-name: animacion_carta;
    animation-duration: 2s;
 
    
    
 
   
}
.barajas{
    border: 1px solid rgb(0, 0, 0);
}

#baraja_1,#baraja_2{
    width: 10px;
}

.formulario{
    display: flex;
    
    justify-content: center;
    align-content: center;
   margin-top: auto;
    
    padding-bottom: 10px;
    justify-content: center;
    border-top: 1px solid rgb(255, 255, 255);
    text-align: center;
    
}
form{
    
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


#info{
    width: 120px;
    height: 10px;
    margin: 5px;
    color: rgb(0, 0, 0);
}
#email{
    text-align: center;
    margin: 5px;
    width: 100px;

    height: 15px;
    background-color: black;
    color: rgb(255, 255, 255)

}
#info{
    
    text-align: center;
    width: 150px;
    background-color: black;
    color: rgb(0, 0, 0)
}
#enviar{
    height: 30px;
    background-color: black;
    color: white;
}
#info_label{
    
    border: solid white 1px;
   
}
.audios{
    width: 100px;
    display:flex ;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
   
}
audio{
    border: 1px solid white;
   
    background: rgba(255, 255, 255, 0);
   
    height: 10px;
    

}

 

.container{
    max-width: 1400px;
    margin:auto;
}

header{
    padding: 25px 30px; 

}

header .img{
margin: 0;
padding: 25px 30px;

}
header.container{

    display: flex;
    flex-direction:column;
    align-items: center;


}

p{
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
}
.nombre_cartas{
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 10px;
}

