/* Estilos Base y Generales */
/* Estilos Base y Generales */
body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    font-family: 'Anta', sans-serif;
    background-color: #223bff;
    color: #c4c3c3;
}

.container, .content-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#center-typewriter-text {

    padding-top: 100px;
    font-family: monospace;
    color: #c4c3c3;
    font-size: xx-small;
    white-space: pre;
    overflow-wrap: break-word;
}



#center-typewriter-text:hover {
    color:#d3ff7c; /* Cambia el color al pasar el cursor */
}

/* Estilos para elementos interactivos */
.hover-word:hover, .word-hover:hover, #menu-links a:hover, #logout-btn:hover, footer a:hover {
    color: #3bc0ac;
}

/* Estilos para las cartas */
.cartas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;

}

#carta1, #carta2, #carta3 {
    margin: 0 5px; /* Espacio alrededor de cada carta */
    min-width: 130px; /* Establece un ancho mínimo para las cartas */
    height: 200px; /* Altura de las cartas */
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; /* Cambia a nowrap para evitar que los elementos se envuelvan */
    width: 100%; /* Ajuste para que las imágenes de las cartas sean responsivas */
    max-width: 120px; /* Establece un ancho máximo para las imágenes de las cartas */

}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .navbar-toggler, .navbar-nav, footer {
        text-align: center;
    }

    .navbar-nav {
        flex-direction: column;
    }

    footer {
        padding: 10px 20px;
        font-size: 14px;
    }

    #labesl_cartas, .nombre_cartas {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
    
    .cartas img {
        max-width: 33%;
        height: auto;
    }
}

@media (max-width: 576px) {
    .content-container, .cartas {
        padding-top: 60px;
    }
    
    .cartas {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .cartas img {
        width: auto;
        max-width: 30%;
    }
    
    .container, .content-container {
        width: 100%;
    }
}

/* Estilos para Control de Audio y Barras */
.audio, #volumen, #velocidad, #controles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
}

input[type="range"], label {
    width: 100%;
    margin: 5px 0;
}

/* Animaciones */
@keyframes animacion_carta {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes animacion_carta_2 {
    from { opacity: 0.2; }
    to { opacity: 0.7; }
}

#carta4_2, #carta4_3, #carta4_1 {
    animation: animacion_carta_2 3s infinite alternate;
}

/* Ajustes Específicos para Controles de Audio */
.audio {
    width: 50%;
    flex-direction: column;
}

/* Mejoras de accesibilidad y estética */
.nav-link, .navbar-brand, footer a {
    touch-action: manipulation;
}

.navbar-collapse {
    background-color: transparent;
    border: 2px dashed #e0fb9a;
}

.navbar-collapse .navbar-nav .nav-link {
    padding: 15px 0;
}

/* Asegura que los controles de audio y velocidad estén correctamente alineados */
#volumen, #velocidad {
    flex-direction: row;
    justify-content: space-around;

}

@media (max-width: 576px) {
    #volumen, #velocidad {
        flex-direction: column;
        align-items: center;

    }
}
#volumen{
    display:block;
    flex-direction: row;
}

#velocidad{

    display:block;
    flex-direction:column;
}


/*/Animaciones*/

#carta4_2,#carta4_3,#carta4_1{
    height: 50px;  
    animation-name: animacion_carta_2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
        
}

#carta4_1{
    animation-name: animacion_carta_2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;    
}

#carta4_2{
    animation-name: animacion_carta_2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;    
}


.copy{
    display: flex;
    height: 10px;
    text-align: center;
    position: relative;
 
}
button{
    display: flex;
    border-style: dashed  rgb(190, 255, 117) ;
color: #ffffff;
    width: 80px;
    height: 40%;
    margin: 10px;
}
label{
    width: 10px;
    color: white;
    margin: 8px;
    border-style: dashed  rgb(190, 255, 117) ;
}
.datos{
margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #7d7070;
}
#fecha{
    margin-top: 50px;
    width: 150px;
    border: 2px dashed #c2ff8f; /* Borde personalizado */
    background-color: rgb(170, 125, 212);
    color: #dedede;

    
}
@keyframes animacion_carta{
    from{opacity: 0;}
    to{opacity: 0.5;}
    
    
}
/*Fucnion de animacion*/

@keyframes animacion_carta_2{
  from{opacity: 0.2;}
   to{opacity: 0.7;}
    
}
@keyframes animacion_video{
    from{opacity: 0;}
    to{opacity: 1;}
    
}


@keyframes font-anmtion{
    from{color: black;;}
    to{accent-color:white;}
}
#carta1,#carta2,#carta3,#labesl_cartas{
    animation-name: animacion_carta;
    animation-duration: 2s;
  }
  /* Estilos para el control de audio */
audio {
    display: none;
    width: 10%; /* Ajusta el ancho del control de audio */
    margin-top: 10px; /* Margen superior para separar del contenido superior */
    height: 5px;
    background-color: transparent; /* Color de fondo del control */

}


/* Estilos para el control de volumen */
input[type="range"] {
    -webkit-appearance: none; /* Elimina la apariencia predeterminada */
    appearance: none;
    width: 80%; /* Ajusta el ancho del control */
    height: 10px; /* Ajusta la altura del control */
    background-color: transparent;
        border-radius: 10px; /* Ajusta el radio de borde para que tenga esquinas redondeadas */
    outline: none; /* Elimina el contorno predeterminado */
    margin-top: 5px; /* Añade un margen superior para separar del contenido superior */
}

/* Estilos para la barra de volumen */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Elimina la apariencia predeterminada */
    appearance: none;
    width: 20px; /* Ancho del botón del control deslizante */
    height: 20px; /* Altura del botón del control deslizante */
    background: #ffffff; /* Color de fondo del botón */
    border-radius: 50%; /* Hace que el botón tenga forma circular */
    
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    box-shadow: 0 5 2px rgba(0, 0, 0, 0.4); /* Agrega una sombra suave al botón */
}

/* Estilos para el rango de volumen en diferentes navegadores */
input[type="range"]::-moz-range-thumb {
    width: 20px; /* Ancho del botón del control deslizante */
    height: 20px; /* Altura del botón del control deslizante */
    background: transparent; /* Color de fondo del control */
    border-radius: 50%; /* Hace que el botón tenga forma circular */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    box-shadow: 0  2px rgba(0, 0, 0, 0.4); /* Agrega una sombra suave al botón */
}

/* Estilos adicionales para el rango de volumen en Firefox */
input[type="range"]::-moz-range-track {
    background: #f0f0f0; /* Color de fondo de la barra de volumen */
    border-radius: 5px; /* Ajusta el radio de borde para que tenga esquinas redondeadas */
}

/* Estilos adicionales para el rango de volumen en Chrome, Safari y Edge */
input[type="range"]::-webkit-slider-runnable-track {
    background: #f0f0f0; /* Color de fondo de la barra de volumen */
    border-radius: 5px; /* Ajusta el radio de borde para que tenga esquinas redondeadas */

}
/* Estilos para la barra de progreso de reproducción */
audio::-webkit-media-controls-panel {
    background-color: transparent; /* Hace que el fondo de la barra de progreso sea transparente */
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    color: transparent; /* Cambia el color del texto de tiempo actual y tiempo restante */
}

/* Estilos para la barra de progreso de reproducción */
audio::-webkit-media-controls-timeline {
    height: 5px; /* Ajusta la altura de la barra de progreso */
    background: transparent; /* Color de fondo del control */
}

/* Estilos para el botón de progreso de reproducción */
audio::-webkit-media-controls-play-button {
    color: #ffffff; /* Cambia el color del botón de reproducción */
}

/* Estilos para el botón de volumen */
audio::-webkit-media-controls-volume-slider {
    height: 5px; /* Ajusta la altura del control deslizante de volumen */
    background-color: #ffffff; /* Cambia el color de fondo del control deslizante de volumen */
}

/* Estilos para el botón de volumen */
audio::-webkit-media-controls-volume-slider::-webkit-slider-thumb {
    background-color: #ffffff; /* Cambia el color del botón de control deslizante de volumen */
}


/* Contenedor padre que sostiene los contenedores de volumen y velocidad */
#controles {

    display: flex;
flex-direction: column;
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan */
    gap: 20px; /* Proporciona un espacio entre los contenedores para evitar que se toquen */
    margin-bottom: 20px; /* Proporciona un margen debajo para separación con otros elementos */
width: 50%;
}

/* Aplica estilos específicos para ajustar los controles de volumen y velocidad */
input[type="range"], label {
    width: 100%; /* Asegura que la barra de rango y etiquetas ocupen todo el ancho del contenedor */
    display: block; /* Hace que cada elemento ocupe su propia línea */
}

label {
    margin-bottom: 5px; /* Espacio debajo de las etiquetas para separación */
    text-align: left; /* Alinea el texto de las etiquetas a la izquierda */
}

/* Estilo para el contenedor 'generales' para que ocupe el ancho máximo */
#generales {
    width: 90%; /* Ajusta el ancho según necesites */
    margin: 20px auto; /* Centra el contenedor 'generales' horizontalmente y añade margen arriba y abajo */
    padding: 15px; /* Relleno interno */
}

/* Estilos generales para las etiquetas */
label {
    display: block; /* Asegura que la etiqueta ocupe su propia línea */
    margin-bottom: 5px; /* Espacio debajo de la etiqueta */
    color: transparent; /* Color del texto de la etiqueta */
    font-family: 'Anta', sans-serif; /* Fuente personalizada */
}

/* Estilos para el texto interactivo al pasar el cursor */


/* Estilos para el input de rango */
input[type="range"] {
    -webkit-appearance: none; /* Elimina la apariencia predeterminada en WebKit/Blink */
    margin: 10px 0; /* Margen superior e inferior */
    width: 100%; /* Ocupa todo el ancho disponible */
    background: transparent; /* Fondo transparente */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Elimina la apariencia predeterminada */
    border: 1px solid #ffffff; /* Borde del control deslizante */
    height: 20px; /* Altura del control deslizante */
    width: 20px; /* Ancho del control deslizante */
    border-radius: 50%; /* Forma circular */
    background: #ffffff; /* Color de fondo */
    cursor: pointer; /* Cursor como puntero */
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #7b7b7b; /* Color de fondo al pasar el cursor */
    border-color: #ffffff;

}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 5px; /* Altura de la pista */
    background-color:#d6d6d6; /* Color de fondo de la pista */
    border-radius: 5px; /* Borde redondeado */
    border-color: #ffffff;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent; /* Color de fondo del footer */
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1); /* Sombra suave (opcional) */
    color: rgb(103, 103, 103); /* Color del texto */
    text-align: center; /* Centra el texto horizontalmente */
    padding: 5px 0; /* Añade un poco de espacio dentro del footer */
    padding-top: 50px;
    margin-top: 100px;
}

footer a {
    color: #c4c3c3; /* Color de los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    
}

footer a:hover {
color: #00f7b5;
text-decoration: none; /* Elimina el subrayado de los enlaces */

}



 /* Estilos para la barra de menú */
 .navbar {
    background-color: transparent !important; /* Hace la barra de menú transparente */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
}

/* Estilos para el menú desplegable en versión móvil */
.navbar-collapse {
    background-color: transparent; /* Semi-transparente con sombra */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2); /* Sombra más notoria */
    border-radius: 5px;


}

/* Ajusta la transparencia del botón del menú desplegable para mejor coherencia visual */
.navbar-toggler {
    background-color: transparent; /* Semi-transparente */
    border-color: rgba(255, 255, 255, 0.5); /* Ajusta el color del borde del botón */
}


.navbar-brand,
.navbar-nav .nav-link {
    color: #ffffff !important; /* Cambia el color del texto a blanco */
}

/* Estilos adicionales para mejorar la legibilidad */
.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #afff3e !important; /* Cambia el color del texto a blanco al hacer hover */
}

/* Cambia el color del botón del menú desplegable en dispositivos móviles */
.navbar-toggler-icon {
    background-color: #ffffff !important; /* Cambia el color del botón a blanco */
}

/* Cambia el color del botón del menú desplegable al hacer hover */
.navbar-toggler-icon:hover {
    background-color: #ffffff !important; /* Cambia el color del botón a blanco al hacer hover */
}



/* Ajustes para dispositivos móviles */







 
    /* Ajustes para dispositivos pequeños (menos de 768px) */
    @media (max-width: 768px) {
       
        
        .navbar-toggler {
            margin: 0 auto; /* Centra el botón del menú */
        }
    
        .navbar-nav {
            text-align: center;
        }
    
        footer {
            padding: 10px 20px; /* Ajuste de padding para el footer */
            font-size: 14px; /* Tamaño de texto adecuado para lectura */
        }
    }
    
    /* Ajustes para tabletas (entre 768px y 1024px) */
    @media (min-width: 768px) and (max-width: 1024px) {
    
    }
    
    /* Estilos adicionales para mejorar la accesibilidad y la interacción */
    .nav-link, .navbar-brand, footer a {
        touch-action: manipulation; /* Mejora la respuesta táctil en dispositivos móviles */
    }
    
    .hover-word:hover, .word-hover:hover, #menu-links a:hover, #logout-btn:hover, footer a:hover {
        color: #3bc0ac; /* Cambia el color al hacer hover para mejorar la interactividad */
    }
    
    
                 .anta-regular {
      font-family: "Anta", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
         

    

    
    
           

    
    
              .navbar-collapse {
                background-color: transparent;
                border: 2px dashed  #e0fb9a
    
            }
    
            .navbar-collapse .navbar-nav .nav-link {
                padding: 15px 0; 
            }
    
            .navbar-collapse .navbar-nav .nav-link:last-child {
                border-bottom: none; 
            }
    
            
            @media screen and (max-width: 576px) {
        .navbar-nav {
            font-size: 0.9rem;
            margin: 10px 15px;
            width: 80%; /* Hace que la barra de menú use todo el ancho disponible */
            text-align: center; /* Centra el texto de los enlaces */
    align-items: center;
    background-color:  transparent;
    
        }
    
        .navbar {
            width: 80%; /* Asegura que el elemento navbar también ocupe todo el ancho */
            text-align: center; /* Centra el texto de los enlaces */
            background-color:  transparent;
            border-radius: 5px;

            
        }
    
        .navbar-collapse {
            width: 80%; /* Hace que el contenido colapsable de la navbar ocupe todo el ancho */
            text-align: center; /* Centra el texto de los enlaces */
            background-color:  transparent;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border: 2px dashed  #e0fb9a;
            border-radius: 5px;

    
        }
    
        .navbar-toggler {
            margin-right: 0; /* Elimina el margen derecho para alinear el toggler a la derecha */
            text-align: center; /* Centra el texto de los enlaces */
    ;
    
        }
    
        .navbar-nav .nav-link {
            text-align: center; /* Centra el texto de los enlaces */
        }
    }
    
    
    
            #menu-links a {
                color: #767676; 
                text-decoration: none;
                margin: 0 20px; 
                background-color:  transparent;
    
            }
    
            #menu-links a:hover {
             border: 2px dashed  #c4d49c      
              }

          /* Estilos para centrar y mejorar la apariencia de los span con clase hover-text */
.hover-text {
    font-size: x-small;
    display: block; /* Cambia el display a block para permitir el centrado */
    width: 100%; /* Ocupa todo el ancho del contenedor padre para centrar el texto */
    text-align: center; /* Alinea el texto al centro */
    margin: 2px 0; /* Añade margen arriba y abajo para separación */
    color: transparent; /* Ajusta el color del texto según necesites */
    cursor: pointer; /* Indica que el elemento es interactivo */
    transition: color 0.2s ease; /* Transición suave para el cambio de color */
}

/* Mejora la respuesta al interactuar con el elemento */
.hover-text:hover {
    color: #ccff49; /* Cambia el color al hacer hover para mejorar la interactividad */
}

/* Ajustes para dispositivos móviles */
@media (max-width: 576px) {
    .hover-text {
        font-size: 14px; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
    }
}

.btn{
    color: #c4c3c3;
    border: 2px dashed  #e0fb9a
}
.btn:hover{
    color: #e0fb9a;
     }

